$LOADER_SIZE = 8px
$LOADER_TIME = 1s

.Loader
   display flex
   flex-direction column
   align-items center

.Loader__row
   display flex

.Loader__arrow
   width 0
   height 0
   margin 0 (-($LOADER_SIZE / 2))
   border-left $LOADER_SIZE solid transparent
   border-right $LOADER_SIZE solid transparent
   border-bottom ($LOADER_SIZE * 1.8) solid $MAIN_COLOR
   animation blink $LOADER_TIME infinite
   filter drop-shadow(0 0 ($LOADER_SIZE * 1.5) $MAIN_COLOR)

   &.is--down
      transform rotate(180deg)

   for $i in (1..18)
      &.is--outer-{$i}
         animation-delay -($LOADER_TIME / 18) * $i

   for $i in (1..6)
      &.is--inner-{$i}
         animation-delay -($LOADER_TIME / 6) * $i

@keyframes blink
   0%
      opacity 0.1
   30%
      opacity 1
   100%
      opacity 0.1
