$color = #fd7000
//$color = #0070fd
$size = 8px
$time = 1s

.Loader
   display flex
   flex-direction column
   align-items center

.Loader__row
   display flex

.Loader__arrow
   width 0
   height 0
   margin 0 (-($size / 2))
   border-left $size solid transparent
   border-right $size solid transparent
   border-bottom ($size * 1.8) solid $color
   animation blink $time infinite
   filter drop-shadow(0 0 ($size * 1.5) $color)

   &.is--down
      transform rotate(180deg)

   for $i in (1..18)
      &.is--outer-{$i}
         animation-delay -($time / 18) * $i

   for $i in (1..6)
      &.is--inner-{$i}
         animation-delay -($time / 6) * $i

@keyframes blink
   0%
      opacity 0.1
   30%
      opacity 1
   100%
      opacity 0.1
