$NavigationIconWidth = 64px
$NavigationIconHeight = 64px

.Navigation
  display flex
  max-width $NavigationIconWidth
  width 100%
  height 100%

.Navigation__list
  display flex
  padding 0
  margin 0
  list-style none
  flex-direction column
  justify-content center
  align-items center

.Navigation__item
  display flex
  align-items center

.Navigation__link
  display block
  width $NavigationIconWidth
  height $NavigationIconHeight
