.Themes
  display flex
  flex-direction column

.Theme
  display flex

.Theme__content
  position relative
  width 1000px
  height 159px

.Theme__preview,
.Theme__info
  position absolute
  left 0
  top 0
  width 100%
  height 100%

.Theme__info
  background linear-gradient(to right, rgba(0,0,0,0.75), rgba(0,0,0,0) 25%)
